
NET "A"   LOC=J15 | IOSTANDARD=LVCMOS33; 
NET "B"   LOC=L16 | IOSTANDARD=LVCMOS33; 
NET "C"   LOC=M13 | IOSTANDARD=LVCMOS33; 
NET "D"   LOC=R15 | IOSTANDARD=LVCMOS33;
 
NET "S0"  LOC=R17 | IOSTANDARD=LVCMOS33; 
NET "S1"  LOC=T18 | IOSTANDARD=LVCMOS33;

NET "F"   LOC=V11 | IOSTANDARD=LVCMOS33; 